/*
The code snippet provided contains CSS styles that define the appearance of different elements in a web page. Here's a breakdown of the styles:
The `body` style sets the overall appearance of the body element, including margin, font-family, and background-color.
The `.site-container` style sets the minimum height of the container to 100% of the viewport height, ensuring that the content fills the entire screen.
The `main` style sets the flex property of the main element to 1, allowing it to expand and fill the available space.
The `.btn-primary` style sets the background color to `#f0c040` and the text color to `#000000`, creating a primary button appearance.
The `.products` style sets the display property to flex and wraps the child elements onto multiple lines. It also centers the child elements horizontally within the container.
The `.product` style sets a border, background color, and margin for each product element.
The `.product img` style sets the width of the product images to 100% and limits the maximum width to 400 pixels.
The `.rating span` style sets the color of rating spans to `#ffc000`.
The `.checkout-steps > div` style sets a border-bottom and color for each step in the checkout process. The `.active` class modifies the style of the active step, changing the border color and text color.
These CSS styles define the visual appearance of various elements in the web page, such as the body, containers, buttons, product listings, images, ratings, and checkout steps.
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd700;
}

/* header {
  background-color: #a020f0;
  padding: 1rem;
}
header a {
  color: #ffd700;
  font-weight: bold;
  text-decoration: none; */
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}

.product {
  border: 1px #a020f0 solid;
  background-color: #a020f0;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a020f0;
  color: #a020f0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #ffc000;
  color: #ffc000;
}
